# Node.js
node_modules/
npm-debug.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/

# Java
*.class
*.jar
*.war
*.ear
target/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Logs
*.log

# IDEs
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Other
*.env
